:root {
  --main-clr: rgb(255, 60, 0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

.main-clr {
  color: var(--main-clr);
}

.section-title {
  font-size: clamp(2rem, 4vw, 4rem);
  color: var(--main-clr);
  user-select: none;
}

.desc-img {
  width: 100%;
}

.sub-title {
  margin-bottom: 20px;
  font-size: clamp(1rem, 2vw, 1.75rem);
}

.price-title {
  font-size: clamp(1.75rem, 3.5vw, 1.75rem);
  color: var(--main-clr);
  margin: 20px 0;
}

.price {
  font-size: clamp(1rem, 3.5vw, 3rem);
  color: var(--main-clr);
  margin: 20px 0;
}

.small-txt {
  font-size: 1.3rem;
  text-transform: capitalize;
}

/* Scroll to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--main-clr);
  color: white;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: black;
}

/* Elements Selector */
section {
  min-width: 100vw;
  min-height: 100vh;
  min-height: 100svh;
  padding: 20px 50px;
  scroll-margin-top: 6rem;
}

section:nth-child(even) {
  background-color: rgb(207, 206, 206);
  color: black;
}

/* NAVBAR */
nav {
  gap: 1.2rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10px;
  overflow: hidden;
  flex: 1;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.9;
  z-index: 10;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

nav ul a {
  white-space: nowrap;
  font-weight: 650;
  font-size: clamp(1rem, 2vw, 18px);
  color: white;
  text-decoration: none;
  padding: 100% 1.4em;
  transition: all 2ms;
}

nav ul a:hover {
  color: whitesmoke;
  background-color: var(--main-clr);
}

nav h1 {
  margin-left: 20px;
  color: white;
  font-size: clamp(1rem, 4vw, 3rem);
  cursor: default;
  user-select: none;
}

nav h1 span {
  color: var(--main-color);
}

.active {
  color: whitesmoke;
  background-color: var(--main-clr);
}

/* Section: Home */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5));
}

#home button {
  padding: 16px 18px;
  font-size: 1.3rem;
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: var(--main-clr);
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

#home button:hover {
  background-color: rgb(248, 95, 48);
}

#home button:hover #home button a {
  color: black;
}

#home button a {
  text-decoration: none;
  color: white;
}

#home h1 {
  font-size: clamp(4rem, 10vw, 10rem);
  color: white;
  user-select: none;
}

#home::before {
  content: '';
  background: url(img/header.jpg) no-repeat fixed center/cover;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -10;
  opacity: 0.8;
  /* filter: brightness(50%); */
}

/* Section: What We Do */

#what-we-do {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
  position: relative;
}

#what-we-do .container {
  display: flex;
  gap: 10%;
  text-align: left;
  height: 100%;
  justify-self: center;
}

#what-we-do .container > div {
  flex: 1;
  height: 100%;
}

#what-we-do .container > div:first-child p {
  line-height: 1.3rem;
}

#what-we-do .container > div:first-child h2 {
  margin: 10px 0;
  font-size: clamp(1rem, 3vw, 1.7rem);
}

#what-we-do .container > div:first-child {
  overflow-y: scroll;
}

#what-we-do .container > div:first-child::-webkit-scrollbar,
#subs-container > div::-webkit-scrollbar {
  display: none;
}

#what-we-do .container > div:first-child,
#subs-container > div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#what-we-do #members ul {
  margin-left: 20px;
}

#what-we-do #members li h2 {
  margin: 14px 0;
  /* font-size: clamp(1.5rem, 5vw, 1.8rem); */
}

.what-img {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  background: url(img/what-img.jpg) no-repeat fixed center/cover;
}

/* Pricing */
#pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  justify-content: space-evenly;
}

#subs-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-self: center !important;
  justify-self: center !important;
  width: 80%;
  gap: 20px;
}

#subs-container > div {
  overflow-x: scroll;
  text-align: center;
  height: clamp(400px, 80svh, 600px);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  line-height: 2rem;
  width: 500px;
  border-radius: 17px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  background-color: white;
}

@media only screen and (max-width: 600px) {
  #subs-container {
    /* background-color: red; */
    flex-direction: column;
  }
}

#free {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* height: 100%;
  width: 100%; */
}

.price-btn {
  padding: 1em 1.2em;
  border: none;
  background-color: var(--main-clr);
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 2px solid transparent;
  color: white;
  font-size: 1rem;
  transition: all 0.2s;
}

.price-btn:hover {
  border: 2px solid var(--main-clr);
  background-color: white;
  color: black;
}

.price-footer {
  text-align: center;
  margin-top: 1em;
  font-size: clamp(0.9rem, 1vw, 1rem);
  font-style: italic;
  font-weight: bold;
}

#subs-container > div ul {
  text-align: left;
  font-size: clamp(0.8rem, 1.4vw, 1.2rem);
  color: gray;
}

/* Sign In */
#signin {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
#signin h2 {
  text-align: center;
}

#signIn-container {
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#signIn-container .log-in {
  padding: 20px;
  width: clamp(350px, 50svw, 375px);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  height: 60%;
}

#img-container {
  height: 200px;
}

#signIn-container .log-in > div {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#signIn-container .log-in .profile-img {
  width: 120px;
  border-radius: 50%;
  border: none;
  background-color: white;
  position: absolute;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
  top: -10vh;
}

#inputs {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: center;
  justify-self: center;
}

#inputs input {
  padding: 1em 1.2em;
  border-radius: 10px;
  width: 100%;
  border: 1px solid black;
  font-size: 1rem;
}

#inputs label {
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-clr);
  margin: 20px 0;
}

#inputs button {
  padding: 0.75em 1em;
  background-color: var(--main-clr);
  border: 1px solid transparent;
  color: white;
  font-weight: 530;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 20px;
  font-size: 1.2rem;
  transition: all 0.3s;
  /* width: 200px; */
}

#inputs button:hover {
  color: black;
  border: 1px solid var(--main-clr);
  background-color: white;
}

#other-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vh;
}

#other-container a {
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: 'Times New Roman', Times, serif;
  color: blue;
  text-decoration: none;
  transition: text-decoration 0.3s;
}

#other-container a:hover {
  text-decoration: underline;
}

/* Contact */

#contact label {
  display: block;
  margin: 25px 0;
  font-size: 1.5rem;
  color: var(--main-clr);
  font-weight: 700;
}

#contact .contact-txt {
  font-size: 1.2rem;
  font-weight: 300;
}

#contact-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-self: center;
  justify-self: center;
  margin: auto;
  justify-content: center;
  /* align-items: center; */
}

#contact-container input,
textarea {
  width: 100%;
  padding: 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
}

#contact-container .container {
  width: 100%;
}

#contact-container .container .name-container {
  display: flex;
  gap: 20px;
}

#contact-container .container .name-container > div {
  flex: 1;
}

#contact-container .btn-container {
  align-self: center;
  justify-self: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

#contact-container .btn-container button {
  padding: 20px 15px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: var(--main-clr);
  color: white;
  border: none;
  border-radius: 20px;
}
