:root {
  --main-clr: rgb(255, 60, 0);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

.main-clr {
  color: var(--main-clr);
}

.section-title {
  font-size: 4rem;
  color: var(--main-clr);
  user-select: none;
}

.desc-img {
  width: 100%;
}

.sub-title {
  margin-bottom: 20px;
  font-size: 1.75rem;
}

.price-title {
  font-size: 1.75rem;
  color: var(--main-clr);
  margin: 20px 0;
}

.price {
  font-size: 3rem;
  color: var(--main-clr);
  margin: 20px 0;
}

.small-txt {
  font-size: 1.3rem;
  text-transform: capitalize;
}

/* Elements Selector */
section {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  scroll-margin-top: 6rem;
}

section:nth-child(even) {
  background-color: #dfdfdf;
}

/* NAVBAR */
nav {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 10px;
  /* height: 9vh; */
  overflow: hidden;
  flex: 1;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.9;
  z-index: 10;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

nav ul a {
  white-space: nowrap;
  font-weight: 650;
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding: 100% 25px;
  transition: all 2ms;
}

nav ul a:hover {
  color: whitesmoke;
  background-color: var(--main-clr);
}

nav h1 {
  margin-left: 20px;
  color: white;
  font-size: 3rem;
  cursor: default;
  user-select: none;
}

nav h1 span {
  color: var(--main-color);
}

.active {
  color: whitesmoke;
  background-color: var(--main-clr);
}

/* Section: Home */
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5));
}

#home button {
  padding: 16px 18px;
  font-size: 1.3rem;
  border: none;
  border-radius: 15px;
  background-color: var(--main-clr);
  color: white;
  cursor: pointer;
}

#home button a {
  text-decoration: none;
  color: white;
}

#home h1 {
  font-size: 10rem;
  color: white;
  user-select: none;
}

#home::before {
  content: '';
  background: url(/img/header.jpg) no-repeat fixed center/cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -10;
  opacity: 0.8;
  /* filter: brightness(50%); */
}

/* Section: What We Do */
#what-we-do {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
}

#what-we-do .container {
  display: flex;
  gap: 10%;
  text-align: justify;
  height: 100%;
  justify-self: center;
}

#what-we-do .container > div {
  flex: 1;
  height: 100%;
}

#what-we-do .container > div:first-child p {
  line-height: 1.3rem;
}

#what-we-do .container > div:first-child h2 {
  margin: 10px 0;
}

#what-we-do .container > div:first-child {
  overflow-y: scroll;
}

#what-we-do .container > div:first-child::-webkit-scrollbar,
#subs-container > div::-webkit-scrollbar {
  display: none;
}

#what-we-do .container > div:first-child,
#subs-container > div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Pricing */
#pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 0; */
}

#subs-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
  height: 100%;
}

#subs-container > div {
  overflow-x: scroll;
  text-align: center;
  height: 80%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  line-height: 2rem;
  width: 500px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.7);
  background-color: white;
  /* flex: 1; */
}

#subs-container > div ul {
  text-align: left;
}

#free {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* height: 100%;
  width: 100%; */
}

.price-btn {
  padding: 10px 13px;
  border: none;
  background-color: var(--main-clr);
  color: white;
  font-size: 1rem;
  letter-spacing: 4px;
}

.price-btn:hover {
  background-color: #dfdfdf;
  color: var(--main-clr);
}

.price-footer {
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}

#subs-container > div ul {
  font-size: 1.2rem;
  color: gray;
}
